<IfModule mod_rewrite.c>
    RewriteEngine on 
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{REQUEST_FILENAME} !-d  
    RewriteRule ^(.*)$ ./index.php 
</IfModule>

ErrorDocument 404 ./views/ErrorPages/404.view.php
